.todo {
    h3 {
        width: 100%;
        text-align: center;
        margin: 10px auto;
        color: #BF7E96;
        font-size: 2rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    .flex {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 20px;

        p {
            word-wrap: break-word;
        }

    }

    .form {
        background-color: #BFA5A3;
        padding: 30px 40px;

        .button {
            text-align: center;

            button {
                background-color: #BF7E96;
                padding: 10px 20px;
                margin: 15px 0;
                font-size: 1.1rem;
                font-weight: 600;
                text-transform: capitalize;
                color: #D9D2D0;
                border: none;
                outline: none;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: #0D0D0D;
                }
            }
        }
    }

}

.delete {
    text-align: end;
    padding: 20px;

    button {
        background-color: #A60321;
        padding: 5px 10px;
        margin: 15px 0;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #D9D2D0;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: #A60321;
        }
    }
}

@media(min-width:768px) {
    .todo {
        .pc {
            display: flex;
            justify-content: space-around;
            margin-top: 15vh;

            .flex {
                text-align: start;
                width: 50%;
                p {
                    word-wrap: break-word;
                  
                }
            }

            .form {
                margin: 0;
            }
        }
    }
}