<div class="log">
  <a href="/" class="logo">TODO</a>
  <h3>Sign Up</h3>

  <form action="/register" method="POST">

    <label for="username"><b>Username</b></label> <br>
    <input type="text" placeholder="Enter Username" name="username"> <br>

    <label for="username"><b>Email</b></label> <br>
    <input type="email" placeholder="Enter email" name="email"> <br>

    <label for="password"><b>Password</b></label> <br>
    <input type="password" placeholder="Enter Password" name="password"> <br>

    <% if(error) { %>
      <p class="error"><%= error %></p>
      <% } %>

    <div class="submit">
      <input type="submit" value="Sign Up" class="btn">
    </div>

  </form>

  <div class="google"><p>Or</p>
    <ul>
      <li><a href="/auth/google">Register with google</a></li>
    </ul>
  </div>


  <div class="bottom"> you have an account ? <a href="/login">login</a></div>
</div>